<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/vue.global.prod.js"></script>
</head>
  </head>
  <body>
    <div style="color:#00FF00" id="count">
      <h3>This is a header</h3>
    <p th:text="'Hello, ' + ${name} + '!'" />
    <p th:text="${type}"/>
    <p th:text="${value}"/>
    <p th:text="${count}"/>
  </div>

  <div id="counter">
    Counter: {{ counter }}
  </div>
    
  <div id="bind-attribute">
    <span v-bind:title="message">
      鼠标悬停几秒钟查看此处动态绑定的提示信息！
    </span>
  </div>

  <script>
    setInterval(function() {$("#count").load(location.href+" #count>*","");}, 2000);

    const Counter = {
      data() {
        return {
          counter: 0
        }
      },
      mounted() {
        setInterval(() => {
          this.counter++
        }, 1000)
      }
    }
    const AttributeBinding = {
      data() {
        return {
          message: 'You loaded this page on ' + new Date().toLocaleString()
        }
      }
    }

    Vue.createApp(AttributeBinding).mount('#bind-attribute')
    Vue.createApp(Counter).mount('#counter')
  </script>
  </body>
</html>
